<a href="https://colab.research.google.com/github/Mario-RJunior/departamento-manutencao/blob/main/departamento_manutencao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Departamento de Produção

## Importação das bibliotecas e da base de dados

In [1]:
# Importação das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import cv2
from skimage import io
import tensorflow as tf
from tensorflow.keras import layers, optimizers
from tensorflow.keras.layers import Dense, Input, AveragePooling2D, Flatten, Dropout, MaxPool2D
from tensorflow.keras.layers import Conv2D, BatchNormalization, Activation, Add, UpSampling2D, Concatenate
from tensorflow.keras.applications import ResNet50
from tensorflow.keras.models import Model, load_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
import os

In [2]:
# Montando o drive do Google Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Dataframe com todas as imagens
all_images_df = pd.read_csv('/content/drive/MyDrive/Departamento de manutenção/defect_and_no_defect.csv')

In [4]:
# Shape
all_images_df.shape

(12997, 2)

In [6]:
# Visualizando o dataframe
all_images_df

             ImageID  label
0      0002cc93b.jpg      1
1      0007a71bf.jpg      1
2      000a4bcdd.jpg      1
3      000f6bf48.jpg      1
4      0014fce06.jpg      1
...              ...    ...
12992  0482ee1d6.jpg      0
12993  04802a6c2.jpg      0
12994  03ae2bc91.jpg      0
12995  04238d7e3.jpg      0
12996  023353d24.jpg      0

[12997 rows x 2 columns]

Nota:

- Label 0: sem defeito.
- Label 1: com defeito.